@tailwind base;
@tailwind components;
@tailwind utilities;


.forYouBanner .swiper-button-prev,
.forYouBanner .swiper-button-next{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 210px;
    background-color: rgba(97, 96, 97, 0.439);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}
.forYouBanner:hover .swiper-button-prev,
.forYouBanner:hover .swiper-button-next{
  opacity: 0.8;
}
.forYouBanner .swiper-button-prev::after,
.forYouBanner .swiper-button-next::after{
    color: white;  
    font-size: 20px;
    font-weight: 700;
}
